div {
    background-color: #163a52 ;
    border-radius: 6px;
    padding: 2px;
    margin: 10px;
}
p{
    color: white;
    font-weight: 100;
    margin: 20px 30px 20px 30px;
    text-align: center;
}
